@model StringAnalyzer.Models.StringStatistics

<h4>Wrong input</h4>
<hr />
<div class="row">
    
    <div class="col-md-9">
     <p>Can't analyse this input. Please go back and try again.</p>
     <p>You can use button "Add default testing string" if you are unable to give me a normal string to analyse.</p>
   
 </div>
</div>

<div>
    <a asp-action="TextInput">Back to Text Input</a>
</div>
<div>
    <a asp-action="Index">Back to Home</a>
</div>

