@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  <!-- <img src="https://www.tmbrno.cz/wp-content/uploads/2020/12/vut_fekt_logo.png" alt="alternatetext" style="width:350px;"> --> 
 </div>

   <div>
       </br>
        <p>This web application was created as a semester project for Object-Oriented Programming (BPC-OOP). </p>
         <dl class="row">
        <dt class = "col-sm-2">
            The project assignment (In czech):
        </dt>
        <dd class = "col-sm-10">
        <!--Insert zadani  ------------------------------------------------------------------------------>
        Vytvořte webovou aplikaci, která bude sloužit jako statický textový analyzátor. Vyplníte editační pole s textem a program provede analýzu textu a výsledky vhodně graficky zobrazí. Zahrňtě údaje, jako jsou četnost slov, počet slov/vět, nejdelší a nejkratší slovo/věta ...

        </dd>
        </dl>
        <dl class="row">
        <dt class = "col-sm-2">

            How does the web application work?
            </dt>

                    <dd class = "col-sm-10">
                        Input from user is passed as instance of StringStatistic class. User is able to choose between analysis shown in graphs or in text. If the user doesn't want to insert their own text button for default string can be used.

                        User cannot pass an empty string. If the string is only spaces and other white spaces, an exception is called and warning page is shown.

                    </dd>

        </dl>

         <dl class="row">
        <dt class = "col-sm-2">

            Authors:
            </dt>

                    <dd class = "col-sm-10">
                        Radka Suchomelová </br>
                        Zdeněk Zatloukal
                        

                    </dd>

        </dl>


    </div>

<div class="text-center">


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
