@model StringAnalyzer.Models.StringStatistics


<h4>StringStatistics</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowResults" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for=Text id="default" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>

                <br/>
            </div>
            <div class="form-group">
                 <input type="button"  class="btn btn-secondary" value="Add default testing string" onclick="add()"/>
               <!--  <button type="submit" class="btn btn-primary" formaction="TextInput">Default sentences</button> -->
               <!-- <input type="submit" value="Analyze" class="btn btn-primary" /> -->
               <!-- <input type="submit" value="Show graphs" class="btn btn-primary" /> -->
                <script>
                function add() {
                //Then we concatenate the string "content" onto textarea
                document.getElementById("default").value = "Toto je retezec predstavovany nekolika radky,\n"
 + "ktere jsou od sebe oddeleny znakem LF (Line Feed).\n"
 + "Je tu i nejaky ten vykricnik! Pro ucely testovani i otaznik?\n"
 + "Toto je jen zkratka zkr. ale ne konec vety. A toto je\n"
 + "posledni veta!";

                }
                </script>
            </div>
            <div class="form-group">
                <br/>
                 <button type="submit" class="btn btn-primary">Analyze</button>
                 <button type="submit" class="btn btn-primary" formaction="GraphAnalysis">Graph analysis</button>
               <!--  <button type="submit" class="btn btn-primary" formaction="TextInput">Default sentences</button> -->
               <!-- <input type="submit" value="Analyze" class="btn btn-primary" /> -->
               <!-- <input type="submit" value="Show graphs" class="btn btn-primary" /> -->
               
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
