html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.control-label {

}

.form-control {
    grid-area: messages_flow;
    width: 300%;
    height: 300px;
    border-radius: 10px;
    overflow-y: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    padding: 15px 10px;

}




