html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.control-label {

}

.form-control {
    width: 300%;
    height: 300px;
    border-radius: 10px;
    overflow-y: auto;
    margin: auto;
    align-items: end;
    padding: 10px 10px;

}

#chart_container {
    width: 400px;
    height: 80px;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 4px;
}




